<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MetrixGroupPlugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MetrixGroupPlugins.Properties.Settings>
            <setting name="PatternIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Tolerance" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="EnableMultiClusterToolLayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DesignIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerforationLayerName" serializeAs="String">
                <value>PERFORATION</value>
            </setting>
            <setting name="ClusterLayerName" serializeAs="String">
                <value>CLUSTER TOOL</value>
            </setting>
            <setting name="DrawClusterOnSeparateLayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AtomicMaxSearch" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="PoissonIterations" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ShowAtomicProgress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DetailViewLayerName" serializeAs="String">
                <value>DETAILS VIEW</value>
            </setting>
            <setting name="ToolHitLayerName" serializeAs="String">
                <value>TOOL HIT</value>
            </setting>
            <setting name="CTSPinX" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CTSPinY" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CTSXMulti" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CTSYMulti" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CTSAllowOP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesignFileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="PanelBorderDefault" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ClusterSampleLayerName" serializeAs="String">
                <value>CLUSTER SAMPLE</value>
            </setting>
            <setting name="FixingHoleSize" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FixingHoleOffsetX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FixingHoleOffsetY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FixingHoleSpacing" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="FixingHoleMinimum" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ClusterToolRotation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DotFontLayerName" serializeAs="String">
                <value>DOTS</value>
            </setting>
            <setting name="DotMatrixHeight" serializeAs="String">
                <value>8.5</value>
            </setting>
        </MetrixGroupPlugins.Properties.Settings>
      
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
